<!-- Dependencies -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dustjs-linkedin/2.4.0/dust-full.min.js"></script>
<link rel="import" href="dust-demo-template.html">
<link rel="import" href="dust-demo-json.html">

<!-- HTML -->
<template id="template">
  <h3 id="template-header">Dust Template</h3>
  <content select="dust-demo-template"></content>
  <h3 id="data-header">Data</h3>
  <content select="dust-demo-json"></content>
  <h3 id="compiled-header">Compiled Dust</h3>
  <pre id="compiled-dust"></pre>
  <h3 id="output-header">Output</h3>
  <pre id="output"></pre>
  <button id="dev-toggle">Dev Mode</button>

  <!-- component styling -->
  <style>
    :host {
      position: relative;
      display: block;
    }

    pre {
      min-height: 120px;
      width: 85%;
      padding: 10px;
      background-color: #222;
      color: #72CC72;
      font-family: Consolas, Courier, monospace;
      font-size: 15px;
      white-space: pre-wrap;
    }

    #compiled-dust,
    #compiled-header {
      display: none;
    }

    :host([dev]) #compiled-dust,
    :host([dev]) #compiled-header {
      display: block;
    }

    #dev-toggle {
      position: absolute;
      top: 50px;
      left: 80%;
      opacity: 0;
    }

    :host(:hover) #dev-toggle {
      opacity: 0.7;
    }
  </style>
</template>

<!-- Interaction -->
<script>
  (function(document) {
    var DustDemoController = function(context) {
      this.context = context;
      this.templateName = this.context.getAttribute('template-name') || 'default';

      // Create a shadow root
      this.shadow = this.context.createShadowRoot();

      // stamp out our template in the shadow dom
      var template = document.querySelector("#template").content.cloneNode(true);
      this.shadow.appendChild(template);

      this.setupListeners();
      this.renderDust();
    };

    DustDemoController.prototype.setupListeners = function() {
      var editors = this.context.querySelectorAll('dust-demo-template, dust-demo-json');
      var toggleDevButton = this.shadow.querySelector('#dev-toggle');
      var that = this;
      var editor;

      for (var i=0; (editor = editors[i]); i++) {
        editor.addEventListener('input', function(evt) {
          that.renderDust();
        });
      }

      toggleDevButton.addEventListener('click', function(evt) {
        that.toggleDev();
      });
    };

    DustDemoController.prototype.renderDust = function() {
      var template = this.context.querySelector('dust-demo-template').innerText;
      if (!template) {
        return;
      }
      var data = this.context.querySelector('dust-demo-json').innerText.replace('&nbsp;', ' ');
      if (data) {
        eval('var data = ' + data + ';');
      }
      var compiledContainer = this.shadow.getElementById('compiled-dust');
      var outputContainer = this.shadow.getElementById('output');
      var compiledDust = dust.compile(template, this.templateName);
      dust.loadSource(compiledDust);
      dust.render(this.templateName, data, function(err, out) {
        if (err) {
          console.log('render error');
        }
        compiledContainer.innerText = compiledDust;
        outputContainer.innerText = out;
      })
    };

    DustDemoController.prototype.toggleDev = function() {
      var el = this.context;
      if (el.hasAttribute('dev')) {
        el.removeAttribute('dev');
      } else {
        el.setAttribute('dev', '');
      }
    };

    var DustDemo = Object.create(HTMLElement.prototype);
    DustDemo.createdCallback = function() {
      this.controller = new DustDemoController(this);
    };

    document.registerElement('dust-demo', {prototype: DustDemo});

  })(document.currentScript.ownerDocument);
</script>
